.comment-item {

    padding: 10px;
    border-radius: 10px;
    background: $light-gray;

    // prevent row collapsing
    &::after {
        content: " ";
        display: table;
        clear: both;
    }

    aside {
        float: left;
        width: 60px;
    }

    main {
        margin-left: 60px;
        padding-left: 10px;
    }
}

